.addItem_form {
  width: 85%;
  position: relative;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.select-product-in-add {
  width: 22%;
  padding: 0.3% 0;
}
.Productquantities {
  display: flex;
  background : white ;
  position: absolute;
  top : 8.5vh;
  left : 73%;
  flex-direction: column;
  width: 20%;
  /* background-color: lightsteelblue; */
  padding: 1%;
  border-radius: 1rem;
  border: green solid 2px;
  z-index: 100 ;
}
.Productquantities::before {
  content: "";
  position: absolute;
  top: -12px; /* Position it above the div */
  left: 20px; /* Adjust to position the arrow horizontally */
  border-width: 0 10px 10px 10px; /* Width of the triangle */
  border-style: solid;
  border-color: transparent transparent green transparent; /* Triangle pointing down */
  border-bottom : 2px white ;
}
.quantityBoxOfProduct {
  width: 30%;
  text-align: right;
  border: none;
  border-radius: 0.5rem;
}
.quantityBoxOfProduct:focus {
  outline: none;
  color: brown;
}
.select-category-add {
  width: 9%;
  padding: 0.3% 0;
}
.add-row {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 1px solid #55555533;
  border-bottom: 1px solid #55555533;
}
.add-row > input {
  text-align: right;
  direction: rtl;
  padding: 0.5% 1%;
}
.add_item {
  margin: 0.5%;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid rgb(97, 83, 81);
  color: rgb(24, 14, 14);
}
.confirm_addItem,
.remove_addItem {
  width: 20%;
  padding: 1%;
  border: none;
  background-color: rgb(9, 94, 9);
  color: whitesmoke;
  cursor: pointer;
}
.remove_addItem {
  background-color: brown;
}
